<div id = "home-index-content" class ="page-content">
  <div class="container">
    <p id="notice" class="text-center text-danger fw-bold"><%= notice %></p>
    <div id="home-content"class="jumbotron p-4 bg-primary text-white rounded text-center">
      <h1 style="margin-top: 4rem;">Alpha Blog</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta similique ratione voluptatibus? Beatae, quia.
              Enim impedit eligendi saepe minus a! A, animi ipsa.</p>
      <%= link_to "Sign up!", new_user_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>