<div class ="page-content">
  <div class = "container">
    <h1 class="text-center pt-4">Create a new Category</h1>
    <%= render 'form' %>
    <%= link_to 'Back',blogs_path, class:"text-center text-danger nav-link" %>
  </div>
</div>
